.header_sticky {

    &.active_sticky{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
        background-color: #fff;
        @include transaction( all, 0.3s, linear );

        -webkit-animation: sticky 0.7s;
        animation: sticky 0.7s;
    }

    &.sticky_bg_heading {
        &.active_sticky {
            background-color: var(--heading)!important; 
        }
    }

    &.sticky_bg_secondary {
        &.active_sticky {
            background-color: var(--secondary)!important;
        }
    }

    @-webkit-keyframes sticky {
        0% {
            top: -100px;
        }
        100% {
            top: 0;
        }
    }
    @keyframes sticky {
        0% {
            top: -100px;
        }
        100% {
            top: 0;
        }
    }
}

.ova_sticky_column {
    position: sticky!important;
    top: 150px;
    left: 0;
    height: 100%!important;
}

// Sticky medical
.header_sticky.header_sticky_medical {
    &.active_sticky {
        background-color: unset;
    }
}

