.ova-switch-language{
	position: relative;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 6px;
    
    .flag-img{
    	position: absolute;
    	left: -4px;
    	display: block;
    	width: 25px;
    	height: 25px;
    	object-fit: cover;
    	border-radius: 50%;
    	border: 3px solid #3F3F3F;
    }

    select#ova-language{
    	margin: 0;
    	padding: 5px 27px;
		appearance: none;
		outline: 0;
		border: 0;
		box-shadow: none;

    	background-color: transparent;
    	background-image: none;
		
    	overflow: hidden;
    	color: var(--heading);

    	option{
    		color: var(--heading);
    		background-color: #fff;
    	}

    	&:hover{
    		cursor: pointer;
    	}
    }
    .icon-select{
    	position: absolute;
    	right: 12px;
    	line-height: 1;
		i{
			font-size: 10px;
			list-style: 1;
			color: var(--heading);
			&:before {
				font-weight: 600!important;
			}
		}
		svg {
			width: 10px;
			list-style: 1;
			fill: var(--heading);
			
			&:before {
				font-weight: 600!important;
			}
		}
    }

}

.rtl {

}