.ova-product-category-slider:hover .owl-nav button.owl-next, .ova-product-category-slider:hover .owl-nav button.owl-prev {
  opacity: 1;
  visibility: visible;
  top: 45%;
}
.ova-product-category-slider.template1 .item-category-slider:hover .info {
  transition: all 0.3s ease;
}
.ova-product-category-slider.template1 .item-category-slider:hover .info .name {
  transition: all 0.3s ease;
  margin-bottom: 66px;
}
.ova-product-category-slider.template1 .item-category-slider:hover .top {
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  opacity: 1;
  visibility: visible;
}
.ova-product-category-slider.template1 .item-category-slider:hover .view-category {
  bottom: 24px;
}
.ova-product-category-slider.template1 .item-category-slider .info {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  z-index: 1;
}
.ova-product-category-slider.template1 .item-category-slider .top {
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.ova-product-category-slider.template1 .item-category-slider .view-category {
  left: 24px;
  bottom: 0;
  right: 24px;
}
.ova-product-category-slider.template2 .item-category-slider {
  border-radius: 10px;
  padding: 30px 15px;
  border: 1px solid #ededed;
  height: 347px;
}
.ova-product-category-slider.template2 .item-category-slider:hover {
  background-color: #F4F5F9;
}
.ova-product-category-slider.template2 .item-category-slider:hover .view-category {
  top: 20px;
}
.ova-product-category-slider.template2 .item-category-slider .image-wrap {
  height: 200px;
  margin-bottom: 10px;
}
.ova-product-category-slider.template2 .item-category-slider img {
  object-fit: contain;
}
.ova-product-category-slider.template2 .item-category-slider .background-overlay {
  background-color: transparent;
}
.ova-product-category-slider.template2 .item-category-slider .info {
  padding: 0;
}
.ova-product-category-slider.template2 .item-category-slider .name {
  font-size: 20px;
  color: var(--heading);
}
.ova-product-category-slider.template2 .item-category-slider .top {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.ova-product-category-slider.template2 .item-category-slider .count {
  color: var(--text);
}
.ova-product-category-slider.template2 .item-category-slider .review-average .average {
  color: var(--text);
}
.ova-product-category-slider.template2 .item-category-slider .view-category {
  top: 12px;
  right: 12px;
  padding: 15px;
  border-radius: 50%;
  background-color: var(--primary);
}
.ova-product-category-slider.template2 .item-category-slider .view-category i {
  transform: rotate(-40deg);
}
.ova-product-category-slider.template3 .item-category-slider {
  height: 362px;
  padding: 0 10px 30px 10px;
  border-radius: 12px;
  background-color: #000;
}
.ova-product-category-slider.template3 .item-category-slider:hover .view-category {
  top: 20px;
}
.ova-product-category-slider.template3 .item-category-slider .image-wrap {
  height: 240px;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 0 0 12px 12px;
}
.ova-product-category-slider.template3 .item-category-slider img {
  object-fit: contain;
}
.ova-product-category-slider.template3 .item-category-slider .background-overlay {
  background-color: transparent;
}
.ova-product-category-slider.template3 .item-category-slider .info {
  padding: 0;
  flex-direction: column-reverse;
}
.ova-product-category-slider.template3 .item-category-slider .name {
  font-size: 20px;
}
.ova-product-category-slider.template3 .item-category-slider .top {
  margin-top: 6px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.ova-product-category-slider.template3 .item-category-slider .count {
  color: var(--primary);
}
.ova-product-category-slider.template3 .item-category-slider .review-average {
  line-height: 1;
}
.ova-product-category-slider.template3 .item-category-slider .review-average .average {
  color: var(--primary);
}
.ova-product-category-slider.template3 .item-category-slider .view-category {
  top: 15px;
  right: 15px;
  padding: 15px;
  background-color: var(--primary);
}
.ova-product-category-slider .item-category-slider {
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  height: 400px;
}
@media (max-width: 1024px) {
  .ova-product-category-slider .item-category-slider {
    height: 330px;
  }
}
.ova-product-category-slider .item-category-slider:hover {
  transition: all 0.3s ease;
}
.ova-product-category-slider .item-category-slider:hover .background-overlay {
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  opacity: 0.5;
}
.ova-product-category-slider .item-category-slider:hover .view-category {
  transition: all 0.3s ease;
  opacity: 1;
  visibility: visible;
}
.ova-product-category-slider .item-category-slider .image-wrap {
  overflow: hidden;
  height: 100%;
}
.ova-product-category-slider .item-category-slider img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.ova-product-category-slider .item-category-slider .background-overlay {
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--heading);
  opacity: 0.15;
  z-index: 1;
}
.ova-product-category-slider .item-category-slider .info {
  transition: all 0.3s ease;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 30px 20px;
  text-align: center;
  width: 100%;
}
.ova-product-category-slider .item-category-slider .name {
  transition: all 0.3s ease;
  margin: 0;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}
.ova-product-category-slider .item-category-slider .count {
  transition: all 0.3s ease;
  display: block;
  line-height: 1;
  color: #fff;
}
.ova-product-category-slider .item-category-slider .review-average {
  display: inline-flex;
  align-items: center;
  column-gap: 5px;
}
.ova-product-category-slider .item-category-slider .review-average i {
  line-height: 1;
  color: #FFB26A;
  font-size: 18px;
}
.ova-product-category-slider .item-category-slider .review-average .average {
  transition: all 0.3s ease;
  color: #fff;
}
.ova-product-category-slider .item-category-slider .view-category {
  transition: all 0.3s ease;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 600;
  color: var(--heading);
  background-color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  z-index: 2;
}
.ova-product-category-slider .item-category-slider .view-category i {
  display: inline-flex;
}
.ova-product-category-slider .item-category-slider .view-category svg {
  display: inline-flex;
  width: 16px;
  fill: var(--heading);
  transition: all 0.3s ease;
}
.ova-product-category-slider .item-category-slider .view-category:hover {
  transition: all 0.3s ease;
  color: #fff;
  background-color: var(--secondary);
}
.ova-product-category-slider .item-category-slider .view-category:hover svg {
  fill: #fff;
}
.ova-product-category-slider .owl-nav button.owl-next, .ova-product-category-slider .owl-nav button.owl-prev {
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.ova-product-category-slider .owl-nav button.owl-next i, .ova-product-category-slider .owl-nav button.owl-prev i {
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  display: inline-flex;
  font-size: 14px;
  color: var(--text);
}
.ova-product-category-slider .owl-nav button.owl-next i:hover, .ova-product-category-slider .owl-nav button.owl-prev i:hover {
  color: var(--primary);
}
.ova-product-category-slider .owl-nav button.owl-next:focus, .ova-product-category-slider .owl-nav button.owl-prev:focus {
  outline: none;
}
.ova-product-category-slider .owl-nav button.owl-prev {
  left: -20px;
}
.ova-product-category-slider .owl-nav button.owl-next {
  right: -20px;
}
.ova-product-category-slider .owl-nav.disabled {
  display: none;
}
.ova-product-category-slider .owl-dots {
  margin-top: 30px;
  text-align: center;
}
.ova-product-category-slider .owl-dots button.active span {
  background-color: var(--primary);
}
.ova-product-category-slider .owl-dots button span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #F0F0F0;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.ova-product-category-slider .owl-dots button span:hover {
  background-color: var(--primary);
}
.ova-product-category-slider .owl-dots button:not(:last-child) {
  margin-right: 3px;
}
.ova-product-category-slider .owl-dots.disabled {
  display: none;
}

.remons_stretch_column_right .ova-product-category-slider .owl-nav button.owl-next {
  right: 20px;
}

.rtl .remons_stretch_column_right .ova-product-category-slider .owl-nav button.owl-next {
  right: -20px;
}
.rtl .remons_stretch_column_right .ova-product-category-slider .owl-nav button.owl-prev {
  left: 20px;
}