// Transaction
@mixin transaction( $propertty, $duration, $timing ) {
    transition: $propertty $duration $timing;
    -moz-transition: $propertty $duration $timing;
    -webkit-transition: $propertty $duration $timing;
    -o-transition: $propertty $duration $timing;
}

.ova-blog-4 {
    display: grid;
    gap: 30px;

    &.column_1 {
        grid-template-columns: 1fr;
    }

    &.column_2 {
        grid-template-columns: repeat(2, 1fr);
    }

    &.column_3 {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 1024px) {
        &.column_2, &.column_3 {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 768px) {
        &.column_2, &.column_3 {
            grid-template-columns: 1fr;
        }
    }

    .item {
        overflow: hidden;

        .media {
            .box-img {
                position: relative;
                width: 100%;
                overflow: hidden;
                border-radius: 10px;

                a {
                    display: flex;

                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        @include transaction( all, 0.5s, ease);
                    }
                }

                .post-date {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    width: 80px;
                    height: 70px;
                    border-radius: 10px;
                    background-color: var(--secondary);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    z-index: 2;
                    color: #fff;
                    @include transaction( all, 0.3s, ease);

                    .date-j,
                    .date-MY {
                        line-height: normal;
                    }

                    .date-j {
                        font-size: 30px;
                        font-weight: 600;
                        letter-spacing: -0.6px;
                    }

                    .date-MY {
                        font-size: 12px;
                        font-weight: 500;
                        text-transform: uppercase;
                    }

                    &:hover {
                        background-color: normal;
                        color: normal;
                    }
                }
            }
        }

        .content {

            .post-meta {
                display: flex;
                align-items: center;
                gap: 30px;
                margin: 14px 0 12px;
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
                line-height: normal;

                .post-category {
                    color: var(--primary);
                }

                .separator-icon {
                    font-size: 5px;
                    color: var(--heading);
                }

                .post-comment {
                    font-weight: 400;
                    color: var(--text);
                }
            }
            
            .post-title {
                margin: 0;
                font-size: 24px;
                line-height: 35px;
                font-style: normal;
                letter-spacing: -0.44px;
                @include transaction( all, 0.3s, ease);

                a {
                    color: var(--heading);
                    @include transaction( all, 0.3s, ease);
                }
            }
        }

        &:hover .content .post-title a{
            color: var(--primary);
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: none;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
    }

        &:hover .media .box-img img{
            transform: scale(1.1);
        }
    }
}

.pagination-wrapper{

    .pagination{
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 60px 0 0 0;

        .prev.page-numbers.disabled {
            display: none;
            cursor: default;
          }

        .next.page-numbers.disabled {
            display: none;
            cursor: default;
        }

        .page-numbers{
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 40px;
            min-height: 40px;
            background-color: #fff;
            font-size: 14px;
            @include transaction(all, 0.5s, ease);
            margin: 0 3px;
            padding: 0 15px;
            border: 1px solid var(--light);
            cursor: pointer;
            font-weight: 400;
            word-spacing: normal;

            &:hover{
                background-color: var(--primary);
                color: #fff;
            }

            &.current {
                background-color: var(--primary);
                color: #fff;
            }
        }

        .page-numbers.dots{
            pointer-events: none;
            cursor: default;
        }
    }   
}

