.ova-scroll-box {
	display: flex;
	column-gap: 70px; 
	overflow-x: auto;
	border-bottom: 1px solid #D0D7DE;
	cursor: all-scroll;

	.item-scroll-box {
		position: relative;
		flex: 0 0 230px;
		&:not(:last-child) {
			&:before {
				content: "";
				display: inline-block;
				position: absolute;
				right: -30px;
				top: 50%;
				transform: translateY(-50%); 
			    width: 1px;
			    height: 46px;
			    background-color: #C9C9C9;
			}
		}
		.title {
			margin: 0 0 8px 0;
			font-size: 18px;
		}
		.description {
			font-size: 14px;
			line-height: 1.5;
		}
	}

	// Scroll bar css
	&::-webkit-scrollbar {
	    height: 5px;
	}
	&::-webkit-scrollbar-track {
		background: transparent; 
	}
	&::-webkit-scrollbar-thumb {
		background: var(--secondary); 
	}
	/* Firefox */
	scrollbar-color: var(--secondary) transparent;
	scrollbar-width: thin;
}
